@import "tailwindcss";
.gradient-border {
  border: 3px solid;
  border-image: linear-gradient(to bottom, #ffcc70, #ff6b6b, #1e90ff) 1;
  border-radius: 1rem; /* match Tailwind rounded-2xl (1rem = 16px) */
}
.card-container {
  perspective: 1000px;
}

.card-3d {
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.card-3d:hover {
  transform: translateZ(90px) scale(1.1);
}
@keyframes limited-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.bounce-limited {
  animation: limited-bounce 0.6s ease-in-out 3; /* 3 times */
}
.bounce-differenet{
  animation: limited-bounce 0.9s ease-in 3;
}


html {
  scroll-behavior: smooth;
}